<div hide-sm class="circle-popover__content">
       <md-icon-svg ng-repeat="elem in elements" icon-sprite="{{elem.id}}" class="md-icon__container circle-popover__item" style="top:{{elem.y}}rem;left:{{elem.x}}rem" fallback-png="{{!elem.svg}}"></md-icon-svg>
</div>

<div class="circle-popover__header">
    <div class="circle-popover__title">{{title}}</div>
    <div class="circle-popover__cover">
        <md-icon-svg icon-sprite="{{cover}}" class="md-icon__container"></md-icon-svg>
    </div>
</div>
